<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <!-- скрытое поле для передачи next -->
    <input type="hidden" name="next" value="{{ next|default:'/tests/' }}">

    <h2>Вход в аккаунт</h2>

    <label for="id_username">Логин:</label>
    <input type="text" name="username" id="id_username" required>

    <label for="id_password">Пароль:</label>
    <input type="password" name="password" id="id_password" required>

    <button type="submit">Войти</button>
</form>

<p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
